@model Portfolio
<h1>
    Details page
</h1>

<div style="margin-top:100px">
    <h3>
        @Model.Id
    </h3>
    <img width="300" src="~/assets/img/portfolio/@Model.Image" alt="what is the problem???"/>
</div>