<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <h3>
            Header section
        </h3>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <h3>
            Footer section
        </h3>
    </footer>
</body>
</html>
